// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 BayLibre SAS. All rights reserved.
 */

/dts-v1/;

#include "meson-g12a.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/meson-g12a-gpio.h>
#include <dt-bindings/sound/meson-g12a-tohdmitx.h>

/ {
	compatible = "seirobotics,sei510", "amlogic,g12a";
	model = "SEI Robotics SEI510";

    firmware {
        optee {
            compatible = "linaro,optee-tz";
            method = "smc";
        };
    };

	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		poll-interval = <100>;

		power-button {
			label = "A";
			linux,code = <BTN_0>;
			gpios = <&gpio_ao GPIOAO_3 GPIO_ACTIVE_HIGH>;
		};
	};

    spdif_dit: audio-codec-2 {
        #sound-dai-cells = <0>;
        compatible = "linux,spdif-dit";
        status = "okay";
        sound-name-prefix = "DIT";
    };

	aliases {
		serial0 = &uart_AO;
		ethernet0 = &ethmac;
	};

	mono_dac: audio-codec-0 {
		compatible = "maxim,max98357a";
		#sound-dai-cells = <0>;
		sound-name-prefix = "U16";
		sdmode-gpios = <&gpio GPIOX_8 GPIO_ACTIVE_HIGH>;
	};

	dmics: audio-codec-1 {
		#sound-dai-cells = <0>;
		compatible = "dmic-codec";
		num-channels = <2>;
		wakeup-delay-ms = <50>;
		sound-name-prefix = "MIC";
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	emmc_pwrseq: emmc-pwrseq {
		compatible = "mmc-pwrseq-emmc";
		reset-gpios = <&gpio BOOT_12 GPIO_ACTIVE_LOW>;
	};

	hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&hdmi_tx_tmds_out>;
			};
		};
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	ao_5v: regulator-ao_5v {
		compatible = "regulator-fixed";
		regulator-name = "AO_5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&dc_in>;
		regulator-always-on;
	};

	dc_in: regulator-dc_in {
		compatible = "regulator-fixed";
		regulator-name = "DC_IN";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	emmc_1v8: regulator-emmc_1v8 {
		compatible = "regulator-fixed";
		regulator-name = "EMMC_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vddao_3v3>;
		regulator-always-on;
	};

	vddao_3v3: regulator-vddao_3v3 {
		compatible = "regulator-fixed";
		regulator-name = "VDDAO_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&dc_in>;
		regulator-always-on;
	};

	vddao_3v3_t: regultor-vddao_3v3_t {
		compatible = "regulator-fixed";
		regulator-name = "VDDAO_3V3_T";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vddao_3v3>;
		gpio = <&gpio GPIOH_8 GPIO_OPEN_DRAIN>;
		enable-active-high;
	};

	vddcpu: regulator-vddcpu {
		/*
		 * SY8120B1ABC DC/DC Regulator.
		 */
		compatible = "pwm-regulator";

		regulator-name = "VDDCPU";
		regulator-min-microvolt = <721000>;
		regulator-max-microvolt = <1022000>;

		pwm-supply = <&dc_in>;

		pwms = <&pwm_AO_cd 1 1250 0>;
		pwm-dutycycle-range = <100 0>;

		regulator-boot-on;
		regulator-always-on;
	};

	vddio_ao1v8: regulator-vddio_ao1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_AO1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vddao_3v3>;
		regulator-always-on;
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpio GPIOX_6 GPIO_ACTIVE_LOW>;
		clocks = <&wifi32k>;
		clock-names = "ext_clock";
	};

	wifi32k: wifi32k {
		compatible = "pwm-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		pwms = <&pwm_ef 0 30518 0>; /* PWM_E at 32.768KHz */
	};

	sound {
		compatible = "amlogic,axg-sound-card";
		model = "SEI510";
		audio-aux-devs = <&tdmout_b>;
        audio-routing = "TDMOUT_B IN 0", "FRDDR_A OUT 1",
                "TDMOUT_B IN 1", "FRDDR_B OUT 1",
                "TDMOUT_B IN 2", "FRDDR_C OUT 1",
                "TDM_B Playback", "TDMOUT_B OUT",
                "SPDIFOUT IN 0", "FRDDR_A OUT 3",
                "SPDIFOUT IN 1", "FRDDR_B OUT 3",
                "SPDIFOUT IN 2", "FRDDR_C OUT 3";

		assigned-clocks = <&clkc CLKID_MPLL2>,
				  <&clkc CLKID_MPLL0>,
				  <&clkc CLKID_MPLL1>;
		assigned-clock-parents = <0>, <0>, <0>;
		assigned-clock-rates = <294912000>,
				       <270950400>,
				       <393216000>;

		dai-link-0 {
			sound-dai = <&frddr_a>;
		};

		dai-link-1 {
			sound-dai = <&frddr_b>;
		};

		dai-link-2 {
			sound-dai = <&frddr_c>;
		};

        /* 8ch hdmi interface */
        dai-link-3 {
            sound-dai = <&tdmif_b>;
            dai-format = "i2s";
            dai-tdm-slot-tx-mask-0 = <1 1>;
            dai-tdm-slot-tx-mask-1 = <1 1>;
            dai-tdm-slot-tx-mask-2 = <1 1>;
            dai-tdm-slot-tx-mask-3 = <1 1>;
            mclk-fs = <256>;

            codec {
                sound-dai = <&tohdmitx TOHDMITX_I2S_IN_B>;
            };
        };

        /* spdif hdmi or toslink interface */
        dai-link-4 {
            sound-dai = <&spdifout>;

            codec-0 {
                sound-dai = <&spdif_dit>;
            };

            codec-1 {
                sound-dai = <&tohdmitx TOHDMITX_SPDIF_IN_A>;
            };
        };

        /* spdif hdmi interface */
        dai-link-5 {
            sound-dai = <&spdifout_b>;

            codec {
                sound-dai = <&tohdmitx TOHDMITX_SPDIF_IN_B>;
            };
        };

        /* hdmi glue */
        dai-link-6 {
            sound-dai = <&tohdmitx TOHDMITX_I2S_OUT>;

            codec {
                sound-dai = <&hdmi_tx>;
            };
        };
	};
};

&arb {
	status = "okay";
};

&cec_AO {
	pinctrl-0 = <&cec_ao_a_h_pins>;
	pinctrl-names = "default";
	status = "disabled";
	hdmi-phandle = <&hdmi_tx>;
};

&cecb_AO {
	pinctrl-0 = <&cec_ao_b_h_pins>;
	pinctrl-names = "default";
	status = "okay";
	hdmi-phandle = <&hdmi_tx>;
};

&clkc_audio {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vddcpu>;
	operating-points-v2 = <&cpu_opp_table>;
	clocks = <&clkc CLKID_CPU_CLK>;
	clock-latency = <50000>;
};

&cpu1 {
	cpu-supply = <&vddcpu>;
	operating-points-v2 = <&cpu_opp_table>;
	clocks = <&clkc CLKID_CPU_CLK>;
	clock-latency = <50000>;
};

&cpu2 {
	cpu-supply = <&vddcpu>;
	operating-points-v2 = <&cpu_opp_table>;
	clocks = <&clkc CLKID_CPU_CLK>;
	clock-latency = <50000>;
};

&cpu3 {
	cpu-supply = <&vddcpu>;
	operating-points-v2 = <&cpu_opp_table>;
	clocks = <&clkc CLKID_CPU_CLK>;
	clock-latency = <50000>;
};

/*&cvbs_vdac_port {
	cvbs_vdac_out: endpoint {
		remote-endpoint = <&cvbs_connector_in>;
	};
};*/

&ethmac {
	status = "okay";
	phy-handle = <&internal_ephy>;
	phy-mode = "rmii";
};

&frddr_a {
	status = "okay";
};

&frddr_b {
	status = "okay";
};

&frddr_c {
	status = "okay";
};

&spdifout {
    pinctrl-0 = <&spdif_out_h_pins>;
    pinctrl-names = "default";
    status = "okay";
};

&spdifout_b {
    status = "okay";
};

&hdmi_tx {
	status = "okay";
	pinctrl-0 = <&hdmitx_hpd_pins>, <&hdmitx_ddc_pins>;
	pinctrl-names = "default";
};

&hdmi_tx_tmds_port {
	hdmi_tx_tmds_out: endpoint {
		remote-endpoint = <&hdmi_connector_in>;
	};
};

&i2c3 {
	status = "okay";
	pinctrl-0 = <&i2c3_sda_a_pins>, <&i2c3_sck_a_pins>;
	pinctrl-names = "default";
};

&ir {
	status = "okay";
	pinctrl-0 = <&remote_input_ao_pins>;
	pinctrl-names = "default";
};

&pwm_AO_cd {
	pinctrl-0 = <&pwm_ao_d_e_pins>;
	pinctrl-names = "default";
	clocks = <&xtal>;
	clock-names = "clkin1";
	status = "okay";
};

&pwm_ef {
	status = "okay";
	pinctrl-0 = <&pwm_e_pins>;
	pinctrl-names = "default";
	clocks = <&xtal>;
	clock-names = "clkin0";
};

&pdm {
	pinctrl-0 = <&pdm_din0_z_pins>, <&pdm_din1_z_pins>,
		    <&pdm_din2_z_pins>, <&pdm_din3_z_pins>,
		    <&pdm_dclk_z_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vddio_ao1v8>;
};

/* SDIO */
&sd_emmc_a {
	status = "okay";
	pinctrl-0 = <&sdio_pins>;
	pinctrl-1 = <&sdio_clk_gate_pins>;
	pinctrl-names = "default", "clk-gate";
	#address-cells = <1>;
	#size-cells = <0>;

	bus-width = <4>;
	cap-sd-highspeed;
	sd-uhs-sdr50;
	max-frequency = <100000000>;

	non-removable;
	disable-wp;

	/* WiFi firmware requires power to be kept while in suspend */
	keep-power-in-suspend;

	mmc-pwrseq = <&sdio_pwrseq>;

	vmmc-supply = <&vddao_3v3>;
	vqmmc-supply = <&vddio_ao1v8>;

	brcmf: wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

/* SD card */
// Disabled because we have serial port over sdcard
/*&sd_emmc_b {
	status = "okay";
	pinctrl-0 = <&sdcard_c_pins>;
	pinctrl-1 = <&sdcard_clk_gate_c_pins>;
	pinctrl-names = "default", "clk-gate";

	bus-width = <4>;
	cap-sd-highspeed;
	max-frequency = <50000000>;
	disable-wp;

	cd-gpios = <&gpio GPIOC_6 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&vddao_3v3>;
	vqmmc-supply = <&vddao_3v3>;
};*/

/* eMMC */
&sd_emmc_c {
	status = "okay";
	pinctrl-0 = <&emmc_ctrl_pins>, <&emmc_data_8b_pins>, <&emmc_ds_pins>;
	pinctrl-1 = <&emmc_clk_gate_pins>;
	pinctrl-names = "default", "clk-gate";

	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	max-frequency = <200000000>;
	non-removable;
	disable-wp;

	mmc-pwrseq = <&emmc_pwrseq>;
	vmmc-supply = <&vddao_3v3>;
	vqmmc-supply = <&emmc_1v8>;
};

&tdmif_b {
	status = "okay";
};

&tdmout_b {
	status = "okay";
};

&tohdmitx {
	status = "okay";
};

&uart_A {
	status = "okay";
	pinctrl-0 = <&uart_a_pins>, <&uart_a_cts_rts_pins>;
	pinctrl-names = "default";
	uart-has-rtscts;

	bluetooth {
		compatible = "brcm,bcm43438-bt";
		shutdown-gpios = <&gpio GPIOX_17 GPIO_ACTIVE_HIGH>;
		max-speed = <2000000>;
		clocks = <&wifi32k>;
		clock-names = "lpo";
		vbat-supply = <&vddao_3v3>;
		vddio-supply = <&vddio_ao1v8>;
	};
};

&uart_AO {
	status = "okay";
	pinctrl-0 = <&uart_ao_a_c_pins>;
	pinctrl-names = "default";
};

&usb {
	status = "okay";
	dr_mode = "host";
};

/ {
    partitions: partitions{
        parts = <15>;
        part-0 = <&logo>;
        part-1 = <&recovery>;
        part-2 = <&misc>;
        part-3 = <&dtbo>;
        part-4 = <&cri_data>;
        part-5 = <&param>;
        part-6 = <&boot>;
        part-7 = <&rsv>;
        part-8 = <&metadata>;
        part-9 = <&vbmeta>;
        part-10 = <&tee>;
        part-11 = <&factory>;
        part-12 = <&super>;
        part-13 = <&cache>;
        part-14 = <&data>;

        logo:logo{
            pname = "logo";
            size = <0x0 0x800000>;
            mask = <1>;
        };
        recovery:recovery{
            pname = "recovery";
            size = <0x0 0x1800000>;
            mask = <1>;
        };
        misc:misc{
            pname = "misc";
            size = <0x0 0x800000>;
            mask = <1>;
        };
        dtbo:dtbo{
            pname = "dtbo";
            size = <0x0 0x800000>;
            mask = <1>;
        };
        cri_data:cri_data
        {
            pname = "cri_data";
            size = <0x0 0x800000>;
            mask = <2>;
        };
        param:param{
            pname = "param";
            size = <0x0 0x1000000>;
            mask = <2>;
        };
        boot:boot
        {
            pname = "boot";
            size = <0x0 0x1000000>;
            mask = <1>;
        };
        rsv:rsv{
            pname = "rsv";
            size = <0x0 0x1000000>;
            mask = <1>;
        };
        metadata:metadata{
            pname = "metadata";
            size = <0x0 0x1000000>;
            mask = <1>;
        };
        vbmeta:vbmeta{
            pname = "vbmeta";
            size = <0x0 0x200000>;
            mask = <1>;
        };
        tee:tee{
            pname = "tee";
            size = <0x0 0x2000000>;
            mask = <1>;
        };
        factory:factory{
            pname = "factory";
            size = <0x0 0x800000>;
            mask = <0x11>;
        };
        super:super
        {
            pname = "super";
            size = <0x0 0xA0800000>;
            mask = <1>;
        };
        cache:cache
        {
            pname = "cache";
            size = <0x0 0x26000000>;
            mask = <2>;
        };
        data:data
        {
            pname = "data";
            size = <0xffffffff 0xffffffff>;
            mask = <4>;
        };
    };

	unifykey{
		compatible = "amlogic, unifykey";
		status = "ok";
		unifykey-num = <49>;
		unifykey-index-0 = <&keysn_0>;
		unifykey-index-1 = <&keysn_1>;
		unifykey-index-2 = <&keysn_2>;
		unifykey-index-3 = <&keysn_3>;
		unifykey-index-4 = <&keysn_4>;
		unifykey-index-5 = <&keysn_5>;
		unifykey-index-6 = <&keysn_6>;
		unifykey-index-7 = <&keysn_7>;
		unifykey-index-8 = <&keysn_8>;
		unifykey-index-9 = <&keysn_9>;
		unifykey-index-10= <&keysn_10>;
		unifykey-index-11= <&keysn_11>;
		unifykey-index-12= <&keysn_12>;
		unifykey-index-13= <&keysn_13>;
		unifykey-index-14= <&keysn_14>;
		unifykey-index-15= <&keysn_15>;
		unifykey-index-16= <&keysn_16>;
		unifykey-index-17= <&keysn_17>;
		unifykey-index-18= <&keysn_18>;
		unifykey-index-19= <&keysn_19>;
		unifykey-index-20= <&keysn_20>;
		unifykey-index-21= <&keysn_21>;
		unifykey-index-22= <&keysn_22>;
		unifykey-index-23= <&keysn_23>;
		unifykey-index-24= <&keysn_24>;
		unifykey-index-25= <&keysn_25>;
		unifykey-index-26= <&keysn_26>;
		unifykey-index-27= <&keysn_27>;
		unifykey-index-28= <&keysn_28>;
		unifykey-index-29= <&keysn_29>;
		unifykey-index-30= <&keysn_30>;
		unifykey-index-31= <&keysn_31>;
		unifykey-index-32= <&keysn_32>;
		unifykey-index-33= <&keysn_33>;
		unifykey-index-34= <&keysn_34>;
		unifykey-index-35= <&keysn_35>;
		unifykey-index-36= <&keysn_36>;
		unifykey-index-37= <&keysn_37>;
		unifykey-index-38= <&keysn_38>;
		unifykey-index-39= <&keysn_39>;
		unifykey-index-40= <&keysn_40>;
		unifykey-index-41= <&keysn_41>;
		unifykey-index-42= <&keysn_42>;
		unifykey-index-43= <&keysn_43>;
		unifykey-index-44= <&keysn_44>;
		unifykey-index-45= <&keysn_45>;
		unifykey-index-46= <&keysn_46>;
		unifykey-index-47= <&keysn_47>;
		unifykey-index-48= <&keysn_48>;

		keysn_0: key_0{
			key-name = "usid";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_1:key_1{
			key-name = "mac";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_2:key_2{
			key-name = "hdcp";
			key-device = "secure";
			key-type = "sha1";
			key-permit = "read","write","del";
		};
		keysn_3:key_3{
			key-name = "secure_boot_set";
			key-device = "efuse";
			key-permit = "write";
		};
		keysn_4:key_4{
			key-name = "mac_bt";
			key-device = "normal";
			key-permit = "read","write","del";
			key-type  = "mac";
		};
		keysn_5:key_5{
			key-name = "mac_wifi";
			key-device = "normal";
			key-permit = "read","write","del";
			key-type = "mac";
		};
		keysn_6:key_6{
			key-name = "hdcp2_tx";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_7:key_7{
			key-name = "hdcp2_rx";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_8:key_8{
			key-name = "widevinekeybox";
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_9:key_9{
			key-name = "deviceid";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_10:key_10{
			key-name = "hdcp22_fw_private";
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_11:key_11{
			key-name = "PlayReadykeybox25";
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_12:key_12{
			key-name = "prpubkeybox";// PlayReady
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_13:key_13{
			key-name = "prprivkeybox";// PlayReady
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_14:key_14{
			key-name = "attestationkeybox";// attestation key
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_15:key_15{
			key-name = "region_code";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_16:key_16{
			key-name = "netflix_mgkid";
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_17:key_17{
			key-name = "attestationdevidbox";// attest dev id box
			key-device = "secure";
			key-permit = "read","write","del";
		};
		keysn_18:key_18{
			key-name = "oemkey";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_19:key_19{
			key-name = "KEY_WIDEVINE";
			key-device = "provision";
			key-permit = "read","write","del";
		};
		keysn_20:key_20{
			key-name = "KEY_PLAYREADY_PRIVATE";
			key-device = "provision";
			key-permit = "read","write","del";
		};
		keysn_21:key_21{
			key-name = "KEY_PLAYREADY_PUBLIC";
			key-device = "provision";
			key-permit = "read","write","del";
		};
		keysn_22:key_22{
			key-name = "KEY_HDCP_TX14";
			key-device = "provision";
			key-permit = "read","write","del";
		};
		keysn_23:key_23{
			key-name = "KEY_HDCP_TX22";
			key-device = "provision";
			key-permit = "read","write","del";
		};
		keysn_24:key_24{
			key-name = "KEY_HDCP_RX14";
			key-device = "provision";
			key-permit = "read","write","del";
		};
		keysn_25:key_25{
			key-name = "KEY_HDCP_RX22";
			key-device = "provision";
			key-permit = "read","write","del";
		};
		keysn_26:key_26{
			key-name = "KEY_HDCP_RX22_FW";
			key-device = "provision";
			key-permit = "read","write","del";
		};
		keysn_27:key_27{
			key-name = "KEY_HDCP_RX22_FW_PRIVATE";
			key-device = "provision";
			key-permit = "read","write","del";
		};
		keysn_28:key_28{
			key-name = "KEY_KEYMASTER3";
			key-device = "provision";
			key-permit = "read","write","del";
		};
		keysn_29:key_29{
			key-name = "PROVISION_FIELD_ID";
			key-device = "provision";
			key-permit = "read","write","del";
		};
		keysn_30:key_30{
			key-name = "PROVISION_FIELD_PROTECT_KEY";
			key-device = "provision";
			key-permit = "read","write","del";
		};
		keysn_31:key_31{
			key-name = "UUID";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_32:key_32{
			key-name = "SERIALNO";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_33:key_33{
			key-name = "OrderId";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_34:key_34{
			key-name = "DID";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_35:key_35{
			key-name = "hdcp2lc128";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_36:key_36{
			key-name = "hdcp2key";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_37:key_37{
			key-name = "wmac";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_38:key_38{
			key-name = "skywaykey";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_39:key_39{
			key-name = "IOT_CERT";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_40:key_40{
			key-name = "fbxserial";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_41:key_41{
			key-name = "IOT_PRIV";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_42:key_42{
			key-name = "sboxid";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_43:key_43{
			key-name = "ssn";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_44:key_44{
			key-name = "oem";
			key-device = "normal";
			key-permit = "read","write","del";
        };
		keysn_45:key_45{
			key-name = "copyright";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_46:key_46{
			key-name = "amlogic_set";
			key-device = "efuse";
			key-permit = "write";
		};
		keysn_47:key_47{
			key-name = "OTP";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_48:key_48{
		    key-name = "sei_rpmb_state";
			key-device = "normal";
			key-permit = "read","write","del";
		};
	};
    efusekey:efusekey{
        keynum = <4>;
        key0 = <&key_0>;
        key1 = <&key_1>;
        key2 = <&key_2>;
        key3 = <&key_3>;
        key_0:key_0{
            keyname = "mac";
            offset = <0>;
            size = <6>;
        };
        key_1:key_1{
            keyname = "mac_bt";
            offset = <6>;
            size = <6>;
        };
        key_2:key_2{
            keyname = "mac_wifi";
            offset = <12>;
            size = <6>;
        };
        key_3:key_3{
            keyname = "usid";
            offset = <18>;
            size = <16>;
        };
    };

};
